.App {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.todo-list{
  display: flex;
  gap: 20px;
  overflow: auto;
}

.todo-cards{
  height: 80px;
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
  border: 2px solid green;
  border-radius: 10px;
  overflow: auto;
  word-wrap: break-word;
}